header nav {
  display: flex;
  justify-content: center;
  width: 60%;
  align-items: flex-start;
  margin-left: 29rem;
  margin-bottom: 10rem;
  height: 10vh;
}
header nav ul {
  display: flex;
  justify-content: space-around;
  flex-grow: 2;
  align-content: center;
  border: 2px solid white;
}

header nav ul li {
  display: flex;
}

header nav ul li a {
  text-decoration: none;
  padding: 2rem;
  margin-top: 3.5rem;

  color: var(--main-text-color);
}
