header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-content: space-around;
  height: 5vh;
  width: 70%;
}
header .menue ul {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  justify-content: space-around;
  border: 2px solid white;
}
header nav ul li {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  justify-content: space-around;
}
header nav ul li a {
  text-decoration: none;
  padding: 2rem;
  margin-top: 2rem;
  color: var(--main-text-color);
  list-style: none;
}
