.body {
  display: flex;

  flex-direction: row;
  border: 5px solid orange;
  margin-bottom: 12rem;
  color: var(--main-text-color);
}

.text {
  display: flex;
  color: var(--main-text-color);
  width: 20rem;
  flex-wrap: wrap;
  font-size: 1.2rem;
  height: 26vh;
  margin-top: 4rem;
  margin-right: 33rem;
}

.imges {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 50vh;
  border: 2px dashed yellow;
}

.imges :nth-child(1) {
  position: absolute;
  top: 1rem;
  right: 6rem;
  height: 50vh;
  border: 2px solid red;
}
.links :nth-child(1) {
  border: 1px white solid;
  text-decoration: none;
  color: var(--main-text-color);
  background-color: rgb(95, 207, 95);
  width: 3rem;
  height: 5rem;
}
.links :nth-child(2) {
  border: 1px white solid;
  text-decoration: none;
  color: var(--main-text-color);
  background-color: rgb(70, 146, 218);
  flex-basis: 5px;

  margin-left: 2rem;
}
