.body {
  display: flex;

  flex-direction: row;
  border: 5px solid orange;
  margin-top: 10rem;
  color: var(--main-text-color);
}

.text {
  display: flex;
  color: var(--main-text-color);
  width: 18rem;
  flex-wrap: wrap;
  flex-grow: 2;
  height: 23vh;
  margin-top: 10rem;
  margin-right: 31rem;
}

.imges {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

div img {
  border: 2px dashed yellow;

  height: 50vh;
}
.links :nth-child(1) {
  border: 1px white solid;
  text-decoration: none;
  color: var(--main-text-color);
  background-color: rgb(95, 207, 95);
  width: 4rem;
  height: 4rem;
}
.links :nth-child(2) {
  border: 1px white solid;
  text-decoration: none;
  color: var(--main-text-color);
  background-color: rgb(70, 146, 218);
  width: 6rem;
  height: 4rem;
  margin-left: 2rem;
}
