.main-container {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: row;
  border: 5px solid orange;
  margin-bottom: 12rem;
  color: var(--main-text-color);
  margin-left: 30rem;
}

.text {
  display: flex;
  color: var(--main-text-color);
  width: rem;
  flex-wrap: wrap;
  font-size: 1.2rem;
  height: 26vh;
  border: 2px solid palevioletred;
  margin-top: 4rem;
  margin-right: 23rem;
}

.imges {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 50vh;
  border: 2px dashed yellow;
}
