.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-left: 25rem;
  flex-direction: row;
  /* border: 5px solid orange; */
  margin-bottom: 12rem;
  color: var(--main-text-color);
}
.text h2 {
  /* border: 2px white solid; */
  font-weight: bolder;
}
.text {
  display: flex;
  color: var(--main-text-color);

  flex-wrap: wrap;
  font-size: 1.2rem;
  height: 26vh;
  border: 2px solid palevioletred;
  margin-top: 4rem;
  margin-right: 15rem;
}
.buttons {
  margin-left: 3rem;
}
.buttons :nth-child(1) {
  border: none;
  font-weight: bold;
  color: var(--main-text-color);
  background-color: rgb(95, 207, 95);
  width: 10rem;
  height: 3rem;
  margin-right: 3rem;
}
.buttons :nth-child(2) {
  border: none;
  font-weight: bold;
  text-decoration: none;
  color: var(--main-text-color);
  background-color: rgb(70, 146, 218);
  width: 10rem;
  height: 3rem;
}
