.imges {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 50vh;
  border: 2px dashed yellow;
}
.imges :nth-child(1) {
  position: absolute;
  top: 1rem;
  right: 6rem;
  height: 50vh;
  border: 2px solid red;
}
