.imges :nth-child(1) {
  position: absolute;
  top: 1rem;
  right: 6rem;
  height: 50vh;
  border: 2px solid red;
}
.links :nth-child(1) {
  text-decoration: none;
  color: var(--main-text-color);
  background-color: rgb(95, 207, 95);
  width: 10rem;
  height: 10rem;
}
.links :nth-child(2) {
  border: 1px white solid;
  text-decoration: none;
  color: var(--main-text-color);
  background-color: rgb(70, 146, 218);
  margin-top: 2rem;
  margin-left: 4rem;
}
