.imges {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 50vh;
  /*border: 2px dashed yellow;*/
}
.imges :nth-child(1) {
  position: absolute;
  top: 1rem;
  right: 8rem;
  height: 50vh;
}
.imges :nth-child(2) {
  position: absolute;
  z-index: -1;
  right: 2rem;
  height: 50vh;
  /* border: 2px solid red;*/
}
