@import url(./var.css);
@import url(./logo.css);
@import url(./header.css);
@import url(./main.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../images/bg_001.jpg);
}
